/* DEFAULT STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
}

/* UTILITY CLASSES */
.grid {
    display: grid;
}

.flex {
    display: flex;
    flex-shrink: 0;
}

.center {
    justify-content: center;
    align-items: center;
}

/* HEADER STYLES */

.header {
    flex-direction: column;
    align-items: flex-end;
    height: 10vh;
    color: #440a19;
    gap: .2rem;
    padding: .5rem;
    box-shadow: 0 0 4px rgb(128, 128, 128);
    position: relative;
    z-index: 2;
}

.header > h1 {
    font-size: 1.4rem;
}

.header > p {
    font-size: .8rem;
}

/* MAIN STYLES */

.container {
    height: 90vh;
}

.container > .row {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

/* LEFT SIDE OF MAIN */

.left{
    height: 100%;
    overflow: auto;
    gap: .2rem;
}

.left::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.left::-webkit-scrollbar-thumb {
    background-color: rgba(25, 2, 2, 0.887);
    border-radius: 3px;
}

.left > .thumbnail {
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.selected {
    opacity: 0.5;
}


/* RIGHT SIDE OF MAIN */
.right {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.right > .toolbar{
    background-color: #f1e8ea;
    justify-content: space-around;
    padding: .5rem;
}
.toolbar > .wrapper{
    align-items: center;
    justify-content: space-around;
    gap: 1rem
}

.img-large > .enlarged {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img-info {
    background-color: #f1e8ea;
}

@media (min-width: 800px) {
    .container>.row {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left{
        flex-direction: column;
        flex-shrink: 0;
    }
}